/*
  Sadie Cutts
  Web development
  Mr. Hardman 
  1/17/2023

  Color theory 
  I chose the cream color as my main color because it shows goodness and humility treaties are about an 
  agreement between different nations and white shows that, white also means the opposite in other cultures, 
  and that is what happened to some of the treaties, is that promises that came with the treaty never came 
  and at is important that we know what treaties are because they make up Canada. 
  My secondary color is a dark marron color, this makes the content that needs to be read first pop out. 
  Red means excitement, energy, and action. I wanted my website to have a fun but serious feel to it
  and red means excitement and marron is both red and brown and brown means earth and the indigenous 
  people lived on this land, and they have a deep connection with the earth so this gives the website 
  a sense of fun but serious to it.  The green is the other secondary color. It gives all important elements
  a highlight to it so users will too to it, green means growth, health, and money. I chose this because we
  need to grow as a country and learn from our past mistakes, so that we will carry on with good relationships
  in the future. Out of the treaties Britain got lot of money out of it cause they were able to build the
  Canadian pacific Railway, but money can mean some other things to people the Indigenous people saw the
  treaties as a friends ship and an agreement with nations that will last forever, so they saw the
  worth of the treaties in another way then Britain. 

  Triadic color scheme: the colors is used are in the triadic color scheme, 
  they are almost directly across from one another on the color wheel,
  the shade might be a bit different but they are almost directly across. 


  font family: I chose this font family beacuse the serif font family gives a trustworthy and traditional feel to it, it also 
  looks more reliable and established. i chose this cause treaties are very serious and mean alot
  to people so i wanted to go for a more serious feel but also have a trustworthy look to it too.  
*/

/*makes the whole website the background color light green */
* {
  line-height: 140%;
  margin: 0px;
}
html {
  font-size: 62.5%;
}
/* this will style all the body elements. it also has my font family */
body {
  background-color: #f5f5f5;
  color: #fefcf3;

  opacity: 0;
  /* 
  this defines our animation 
           
  we define the animation-name as fade-in
  we define the animation-duration(how long the animation lasts) as 1 second.
  we define the animation-timing-function (how the styling chages as it moves through the animation)
  as ease-in, which means it will slowly start the animation and speed up to the end 
  we define the animation delay as 2 seconds.
  
  Credit - Mr. Hardman (transitions and Animations) 

*/
  -o-animation: fade-in 1s ease-in 2s forwards;
  -moz-animation: fade-in 1s ease-in 2s forwards;
  -webkit-animation: fade-in 1s ease-in 2s forwards;

  animation: fade-in 1s ease-in 2s forwards;

  /* 
  this is our prefixes they make sure that our web pages effects can be used across all different broswers and versions of the browsers  
*/
  -webkit-transform: translate(-100px);
  -moz-transform: translate(-100px);
  -ms-transform: translate(-100px);
  -o-transform: translate(-100px);
  transform: translate(-100px);

  font-family: Georgia, "Times New Roman", Cambria, serif;
  font-size: 1.6rem;
}
/* 
  this defines the animation itself. we use @keyframes to show that we are creating and 
  amination and then we use the same name that we defines in the animation property(i.e., fade-in)
  then, we define the starting point of the animation(from) and the styling at the starting point.
  finally , we define the ending point of the animations(to) and the styling at the ending point.
  you can also define %s of where differnet styling occurs(i.e., 0%,33%, 66%,100%). 
  
  Credit Mr. Hardman (transitions-and-animations) 
*/

/* 
  this is our prefixes they make sure that our web pages effects can be used across all different broswers and versions of the browsers  
*/
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  to {
    opacity: 100;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* 
  this is our prefixes they make sure that our web pages effects can be used across all different broswers and versions of the browsers  
*/
@-moz-keyframes fade-in {
  from {
    opacity: 0;
    -moz-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  to {
    opacity: 100;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
/* 
  this is our prefixes they make sure that our web pages effects can be used across all different broswers and versions of the browsers  
*/
@-o-keyframes fade-in {
  from {
    opacity: 0;
    -o-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  to {
    opacity: 100;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  to {
    opacity: 100;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

/* 
  this styles all elements in the nav to display in-line block (will display contnent horizontally insted of vertically).
  and the nav will take up the whole website hense the 100% width and the background of the nav will be colored the primary color
  of the webpage

*/
nav {
  display: inline-block;
  width: 100%;
  background-color: #815b5b;
}

/*
  the nav li(ordered list) will make sure that the items in the nav li will display horisontally and not vertcally 
*/

nav li {
  display: inline-block;
}
/*
  this will style all elements with this class to have a CSS box model. 
  it will have a margin of 4px, and the border will be green and it is all around all the elements in the box
  the padding from the inner content at is will ve 4px away from the conent inside 
  the font size of all the content for text will be 1.8rem
  the background color of it will be white to have the user read it better 

*/
.nav-link {
  margin: 4px;
  margin-right: 3px;
  border: 2px solid #809249;
  padding: 4px;

  font-size: 1.8rem;
  background-color: white;

  -webkit-transition: -webkit-transform 1s;

  transition: -webkit-transform 1s;

  -o-transition: -o-transform 1s;

  -moz-transition: transform 1s, -moz-transform 1s;

  transition: transform 1s;

  transition: transform 1s, -webkit-transform 1s, -moz-transform 1s, -o-transform 1s;
}

/* 
  this defines our animation 
           
  we define the animation-name as grow
  we define the animation-duration(how long the animation lasts) as 1 second.
  we define the animation-fill-mode(whether the styling is kept at the end of the animation
  or not) to forwards, which means to keep the styling that is at the end of the animation, 
  in this case it will stay bigger until the mouse hovers away from it. 

  Credit - Mr. Hardman (transitions and Animations) 

*/
.nav-link:hover,
.nav-link:focus {
  /* Remember Mr. Hardman, we did not actually cover scale as a transition. */
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* 
   the position property specifies the type of positioning methd used for the element,
   the relateive positions the element to its normal position (credit - W3Schools). 
   then we have the background size: cover, this makes it so the image will cover the whole webpage 
   left and right top and bottem, to stop this image from becoming our background we gave it a height 
   so it is only set for the top part of my website (vh stands for viewport height and it is like 
   percentage unit, this will make up of 33vh of visable screen height. 
*/

header {
  position: relateive;

  background-image: url("../image/tree_background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 33vh;
}

/* 
  this is my header and it is a h1 tag, the text has a width of 60% and is positioned absolute, this means 
  it will be styled the same way as the nearest ancestor or if there is no ancestor it will use the document body 
  and will move along with the page(credit - W3schools) the top between the nav will be 8% and will be moved 
  to the left by 50% and the transform protery the coordinate define 
  how much an element will move in each direction, in this case it will be -50 so it will be in the middle of the website 
  the padding around the element will be 0.5% on the top and the bottom and 1% on both left and right. so we can see the 
  text if we change the size of the page we made a background color white
*/

header h1 {
  width: 60%;

  position: absolute;
  top: 8%;
  left: 50%;

  -webkit-transform: translateX(-50%);

  -moz-transform: translateX(-50%);

  -ms-transform: translateX(-50%);

  -o-transform: translateX(-50%);

  transform: translateX(-50%);

  padding: 0.5% 1%;

  background-color: white;
}
/* 
  this makes it so the website will use 95% of the space, this is liquid layout and it uses 
  percentage based sizes 
*/
main {
  margin: 0 2.5%;
}

/*
  this is my h1 styling, fist my h1 will display horizontally and not vertially and that is the inline-block 
  text align center will make sure the text will display ccenter and not somewhere else. the color of the text that will
  display will be mostly black but have some brown in it. the boldness of the font will be 600 so it is begger then the h2 to show 
  visual hierarchy and it will be 3.2 rech double then the h2 to also demonstrate visual hierarchy 
*/
h1 {
  display: inline-block;
  text-align: center;
  color: rgba(18, 18, 18, 0.7);
  font-weight: 600;
  font-size: 3.2rem;
}

/*
  this is the h2, all my text will have a margin on top of 3% to make sure there is distance from the 
  image and the h2. the text will also be in the center of the p tages below. the color of the text will be 
  one of the primary colors because it is important info i want the useres to read first. the fontweight will 
  make it bolder, and it is set 400. the h2 must be smaller thent the header so is 2.4rem to show visual hiearchy
  and the font will be italic to chatch the users attention more and the words will be spaced 1mm part so 
  it is easier to read. 
*/
h2 {
  margin-top: 3%;

  text-align: center;
  color: #815b5b;
  font-weight: 400;
  font-size: 2.4rem;
  font-style: italic;
  word-spacing: 1mm;
}
/* 
  this is the nav ul(unordered list), it will give the nav space around it, 
  it will have margin 30pc top and bottom, this gives a nice bigger look to the nav. 
  the list-style-type: none is to make it so that the nav elements are not decorated 
  Ex. the list items, buletpoints etc. and the elemets will display center of the 
  screen 
*/
ul {
  margin-top: 30px;
  margin-bottom: 30px;

  list-style-type: none;
  text-align: center;
}
/* 
  this is the Li(list items) and it will display inline-block so it is horizontal and not vertical
*/
li {
  display: inline-block;
}
/* 
  this is my anchor tag, and it will display with the my primary color #815b5b
*/
a {
  color: #815b5b;
}
p {
  /*
  this will style all my p (paragraph) tags. they will display in the enter and have a border 
  3px wide and the border will be styled green(#809249) the text will diplay 2px form the top 
  and be 45% to the left of the screen(this is for liquid layout) and will be 3% from the right 
  to give it some space, the padding of the element will be 3%, and then you have the border radius 
  this will make the corners or the outer edge of the element, the text will display black and 
  the words will be spaced 1.2mm apart so it is easier to read and they will have a bckground color of white. 
*/
  text-align: center;
  border: 3px solid #809249;
  margin-top: 2px;
  margin-left: 45%;
  margin-right: 3%;
  padding: 3%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: black;
  word-spacing: 1.2mm;
  background-color: white;
}
/*
  this will style any elements with the class treaty-center 
  it has the margin left and right auto so it is centered 
  and the width of the element has a width of 50% of the element 
*/
.treaty-center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*
  this styles all span elements to have an underline 
  this will highlight it better cause i would like to have the users 
  attention their.  
*/
span {
  text-decoration: underline;
}

/* this will make it so any divs will display horizontally insted of vertically  */

div {
  display: inline-block;
}
/* 
  this is my class footer-link, this will make all my footer sources display
  with a margin or 4px and have a distance between each other(margin right) of 3px
  and the border will be green and be 2px wide. and the padding around it will be 4px  
  the size of the font will be 1.8 cause it we need to display visual hierarchy and 
  the links are not as imporant then the info of the website. and to make it easier to read
  the background will be white.
*/
.footer-links {
  margin: 4px;
  margin-right: 3px;
  border: 2px solid #809249;
  padding: 4px;

  font-size: 1.8rem;
  background-color: white;
}

/* 
  this makes the footer stay futher away from the video at the bottem of the page and 
  have 30px away from the main tags 
*/
footer {
  clear: both;
  margin-top: 30px;
}

/* 
  the elements will be on the left side of the page and will have a border that is black 
  with 2px width. it will display 2% from the left of the website and it will take up 30%  
  of the website. 
*/
.floated-left {
  float: left;
  border: 2px solid black;
  margin-left: 2%;
  width: 30%;
}
