/*makes the whole website the background color light green */
body {
  background-color: #d4efdf;
}
/*
  h1 will always be aligned centered 
*/
h1 {
  text-align: center;
}
p {
  /*
    makes all p tags the size of 24px along with making it center.
    it also makes the boarder of the paragraph tags that will also have a black boarder surrounding it
    both margin right and left make it so the pargraph has space, and have a padding of 2%, the padding makes it so 
    you have space inbetween the text and the boarder. and the boarder has a radius of 4px   
  */
  font-size: 24px;
  text-align: center;
  border: 3px solid black;
  margin-left: 35%;
  margin-right: 5%;
  padding: 2%;
  border-radius: 4px;
}
/*
  treaty-center makes it so the image would be center.
*/
.treaty-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*
  this makes it so all h2 will be center through all web pages 
*/
h2 {
  text-align: center;
}
/*
  this makes it so if a website doesnt have the font Georgia it will go to time new roman and so on
*/
#style-by-id {
  font-family: Georgia, "Times New Roman", Cambria, serif;
}
/*
  this makes it so all span tags used will have an underline to them
*/
span {
  text-decoration: underline;
}
/*
  this will make it have a display of inline blocks have a margin of 5px
  and have a font size of 30px and have some padding to it
*/
nav li {
  display: inline-block;
  margin: 5px;
  font-size: 30px;
  padding: 2px;
}
/*
  any nav links will have a margin of 4px and have a black box around it with padding of 4px
*/
.nav-link {
  margin: 4px;
  border: 2px solid black;
  padding: 4px;
}
/* this will make any class with video have to go left */
.video {
  float: left;
}
/* this makes the footer stay at the bottem of the page*/
footer {
  clear: both;
}
